/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */

html{
   scroll-behavior: smooth;
}

body{
   margin: 0px;
   background-color: #f4f3eeff;
}

#wrapper{
   width: 1000px;
   margin:auto
   
}

nav{
   background-color: #e0afa0ff;
   width: 100%;
   height: 100px;
   position: fixed;
}

#camera_icon{
   margin: 15px;
   float: left;
}

nav h1{
   font-family: Arial, Helvetica, sans-serif;
   color: #eeeeee;
   float: left;
   margin: 25px 25px 25px 15px;
   font-size: 275%;
}

#nav_links{
   float: left;
   margin: 39px 0px 39px 0px;

}

#nav_links a{
   text-decoration: none;
   color: #eeeeee;
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 15px 10px 15px;
   font-size: 19px;
}
#nav_links a:hover{
  background-color: #DD9F91;
  border-radius: 10px;
}

.active{
  background-color: #DD9F91;
  border-radius: 10px;
}

#header_spacer{
   background-color: white;
   width: 1000px;
   height: 100px;
}

#article_1{
   background-color: #eeeeeeff;
   width: 435px;
   height: auto;
   border-radius: 25px;
   padding: 25px;
   margin: 5px 5px 10px 10px;
   font-family: Verdana, Tahoma, sans-serif;
   line-height: 25px;
   float: left;
}

#article_2{
   background-color: #eeeeeeff;
   width: 435px;
   height: auto;
   border-radius: 25px;
   padding: 25px;
   margin: 5px 10px 10px 5px;
   font-family: Verdana, Tahoma, sans-serif;
   line-height: 25px;
   float: left;
}

#Afbeelding_digitale_identiteit{
   margin: 10px 10px 5px 10px;
}

img{
   border-radius: 25px;
   animation-fill-mode: both;
}

#line{
   width: 100%;
   height: 1px;
   background-color: #bcb8b1;
   clear: both;
}

#afbeelding_maatregelen{
   float:left;
   margin:5%
}

#afbeelding_maatregelen :hover{
   transform: scale(1.2);
   transition: all 0.5s ease;
   cursor: pointer;
}

#Digitale_veiligheid{
   float:right;
   margin:5%;
}

#Digitale_veiligheid:hover{
   transform: scale(1.2);
   transition: all 0.5s ease;
   cursor: pointer;
}

#afbeelding_Bedreigingen{
   float:right;
   margin:5%;
}

#afbeelding_Bedreigingen:hover{
   transform: scale(1.2);
   transition: all 0.5s ease;
   cursor: pointer;
}

#afbeelding_aanvallers_en_verdedigers{
   float:left;
   margin:5%;
}

#afbeelding_aanvallers_en_verdedigers:hover{
   transform: scale(1.2);
   transition: all 0.5s ease;
   cursor: pointer;
}

footer{
   background-color: #bcb8b1ff;
   width: 100%;
   height: 150px;
   clear:both;
}

#footer_begin{
   width: fit-content;
   height: 100%;
   float: left;
}

#footer_begin_link{
   text-decoration: none;
}

#footer_begin h1{
   font-family: Arial, Helvetica, sans-serif;
   color: #eeeeee;
   margin: 25px;
   font-size: 275%;
}

#footer_begin p{
   font-family: Arial, Helvetica, sans-serif;
   color: #eeeeee;
   clear: both;
   margin: 0px 25px 0px 25px;
   width: fit-content;
}

#footer_links{
   float: right;
   height: 100%;
}

#footer_links dl{
   margin: 0px;
   height: auto;
   width: auto;
   margin: 32px;
}

#footer_links dt{
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   color: #eeeeee;
   font-size: 20px;
}

#footer_links dd{
   margin: 20px 10px 10px 10px;
   padding: 10px 30px 10px 30px;
}

.mail{
   font-family: Arial, Helvetica, sans-serif;
   color: #eeeeee;
   font-size: 20px;
   padding: 10px 30px 10px 30px;
   text-decoration: none;

}

#footer_links a:hover{
   background-color: #a8a49dff;
   border-radius: 10px;
   color: white;

}