/*{
    border: 1px dotted black;
}
*/
html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: #f4f3eeff;
}

#wrapper{
    width: 1000px;
    margin: auto;
}

nav{
    background-color: #e0afa0ff;
    width: 100%;
    height: 100px;
    position: fixed;
}

#camera_icon{
    margin: 15px 15px 10px 15px;
    float: left;
}

nav h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    float: left;
    margin: 25px 25px 25px 15px;
    font-size: 275%;
}

#nav_links{
    float: left;
    margin: 39px 0px 39px 0px;

}
 
#nav_links a{
    text-decoration: none;
    color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px 10px 15px;
    font-size: 19px;
}
#nav_links a:hover{
   background-color: #DD9F91;
   border-radius: 10px;
}

.active{
   background-color: #DD9F91;
   border-radius: 10px;
}

#header_spacer{
   background-color: white;
   width: 1000px;
   height: 100px;
}

header{
    width: 100%;
    height: 200px;
}

#article_1{
    background-color: #eeeeeeff;
    width: auto;
    height: auto;
    border-radius: 25px;
    padding: 25px;
    margin: 10px;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 25px;
}

#article_1 h2{
    text-align: center;
}

#article_1 ol{
    margin: 0px;
}

#article_1 p{
    margin-bottom: 5px;
}

#line{
    width: 100%;
    height: 1px;
    background-color: #bcb8b1;
}

#article_2{
    background-color: #eeeeeeff;
    width: 435px;
    height: auto;
    border-radius: 25px;
    padding: 25px;
    margin: 10px 5px 5px 10px;
    float: left;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 25px;
}

#virus_laptop{
    float: left;
    border-radius: 25px;
    margin: 10px 10px 10px 5px;
}

#article_3{
    background-color: #eeeeeeff;
    width: 930px;
    height: auto;
    border-radius: 25px;
    padding: 25px;
    margin: 0px 5px 5px 10px;
    clear: both;
    font-family: Verdana, Tahoma, sans-serif;
    line-height: 25px;
}

#article_3 table{
    border: 1px black solid;
    border-collapse: collapse;
    padding: 0px 5px 0px 5px;
}

#article_3 td{
    border: 1px black solid;
}

#security_levels{
    border-radius: 25px;
    margin: 5px 10px 5px 10px;
}

footer{
    background-color: #bcb8b1ff;
    width: 100%;
    height: 150px;
}

#footer_begin{
    width: fit-content;
    height: 100%;
    float: left;
}

#footer_begin_link{
    text-decoration: none;
}

#footer_begin h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    margin: 25px;
    font-size: 275%;
}

#footer_begin p{
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    clear: both;
    margin: 0px 25px 0px 25px;
    width: fit-content;
}

#footer_links{
    float: right;
    height: 100%;
}

#footer_links dl{
    margin: 0px;
    height: auto;
    width: auto;
    margin: 32px;
}

#footer_links dt{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    font-size: 20px;
}

#footer_links dd{
    margin: 20px 10px 10px 10px;
    padding: 10px 30px 10px 30px;
}

.mail{
    font-family: Arial, Helvetica, sans-serif;
    color: #eeeeee;
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    text-decoration: none;

}

#footer_links a:hover{
    background-color: #a8a49dff;
    border-radius: 10px;
    color: white;

}
